.navbar {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.navbar ul {
	display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
	margin: 0 10px;
}

.navbar_link {
	font-size: 1.5em;
	color: #337ab7;
	text-decoration: none;
}

.navbar_link:hover {
  color: #275d8b;
  cursor: pointer;
}

.navbar_link:active {
	color: #000d8b;
}